.drawer__toolbar {
  img {
    width: 36px;
    margin-right: 10px;
  }

  .drawer__toolbar_title {
    font-size: 20px;
    line-height: 23px;

    color: #041805;
  }

  .drawer__toolbar_subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: rgba(4, 24, 5, 0.2);
  }
}
